*.py[cod]
__pycache__

.vscode

# SKiDL output
*.erc
*.log
*.net

*bak
_autosave*

# Simplicity Studio unnecessary files and build artifacts
/firmware-experimental/.metadata/
/firmware-experimental/outgoing/
/firmware-experimental/*/.settings/
/firmware-experimental/*/GNU ARM * - Debug/
/firmware-experimental/*/GNU ARM * - Release/
